<template>
    <div>
        <h1>Cadastrar Produto</h1>
        <form class="form-horizontal" @submit.prevent="salvarProduto()">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="sku">Codigo:</label>
                        <input type="text" class="form-control" id="sku" v-model="Produto.produtcCode" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input type="text" class="form-control" id="name" v-model="Produto.name" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <textarea class="form-control" rows="3" id="descricao" v-model="Produto.description" required></textarea>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="qty">Custo:</label>
                        <input type="number" class="form-control" id="qty" v-model="Produto.cost" required>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="price">Peso:</label>
                        <input type="number" class="form-control" id="price" v-model="Produto.weight" required step="0.01">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="length">Comprimento:</label>
                        <input type="number" class="form-control" id="length" v-model="Produto.length" required step="0.01">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="height">Altura:</label>
                        <input type="number" class="form-control" id="height" v-model="Produto.height" required step="0.01">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="brand">Marca:</label>
                        <input type="text" class="form-control" id="brand" v-model="Produto.brand" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="ean">E.A.N.:</label>
                        <input type="text" class="form-control" id="ean" v-model="Produto.ean" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="nbm">N.B.M.:</label>
                        <input type="text" class="form-control" id="nbm" v-model="Produto.nbm">
                    </div>
                </div>
            </div>
            <!-- produtoAtributo -->
            <div class="form-group">
                <label for="nbm">Selecione a categoria:</label>
                <select class="form-control" id="sel1" v-model="Atributos" @change="setCategory" required>
                    <option disabled value="" selected>Escolha uma categoria</option>
                    <option v-for="(categoria,id) in Categorias" :value="categoria.atributos">{{categoria.name}}</option>
                </select>
            </div>
            <div class="row" v-for="(prodAtributo,id) in Produto.produtoAtributo">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="nbm">{{prodAtributo.atributo.name}}:</label>
                    </div>
                    <!-- <div class="col-sm-9" v-if="prodAtributo.atributo.dif">
                        <input type="text" class="form-control" id="nbm" v-model="prodAtributo.descri" required>
                    </div> -->
                    <div class="col-sm-9">
                        <select class="form-control" id="sel1" v-model="prodAtributo.descri" required>
                            <option disabled value="" selected>Escolha uma categoria</option>
                            <option v-for="(variacao,id) in prodAtributo.atributo.variacao" :value="variacao">{{variacao}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- imagens -->
            <div class="row" v-for="(img,idimg) in Produto.imagens">
                <div class="col-sm-3">
                    <label :for="'imagem'+idimg">Url - {{idimg+1}}:</label>
                </div>
                <div class="col-sm-8">
                    <input type="url" class="form-control" :id="'imagem'+idimg" v-model="Produto.imagens[idimg]" required>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn" @click="remove(idimg,Produto.imagens)">
                        -
                    </button>
                </div>
            </div>
            <!-- skus -->
            <div class="container-fluid">
                <div class="panel panel-default" v-for="(sku, idsku) in Produto.skus">
                    <div class="panel-heading">
                        Sku - {{idsku+1}} - 
                        <button type="button" class="btn" @click="newImagem(sku.imagem)">+
                            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn" @click="newPrice(sku.prices)">+
                            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn" @click="newStock(sku.stocks)">+
                            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                        </button>
                        <div class="col-sm-1">
                            <button type="button" class="btn" @click="remove(idsku,Produto.skus)">
                                -
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="brand">Codigo do Sku:</label>
                                    <input type="text" class="form-control" id="brand" v-model="sku.skuCode" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="nbm">Marca:</label>
                                    <input type="text" class="form-control" id="nbm" v-model="sku.brand" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="ean">Quantidade:</label>
                                    <input type="text" class="form-control" id="ean" v-model="sku.qty" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="nbm">E.A.N.:</label>
                                    <input type="text" class="form-control" id="nbm" v-model="sku.ean" required>
                                </div>
                            </div>
                        </div>
                        <div class="row container-fluid" v-for="(img,idskuimg) in sku.imagem">
                            <div class="col-sm-3">
                                <label :for="'imagem'+idskuimg">Url - {{idskuimg+1}}:</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="url" class="form-control" :id="'imagem'+idskuimg" v-model="sku.imagem[idskuimg]" required>
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="btn" @click="remove(idskuimg,sku.imagem)">
                                    -
                                </button>
                            </div>
                        </div>
                        <div class="row" v-for="(prodAtributo,id) in sku.variacoes">
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="nbm">{{prodAtributo.atributo.name}}:</label>
                                </div>
                                <!-- <div class="col-sm-9" v-if="prodAtributo.atributo.dif">
                                    <input type="text" class="form-control" id="nbm" v-model="prodAtributo.descri" required>
                                </div> -->
                                <div class="col-sm-9">
                                    <select class="form-control" id="sel1" v-model="prodAtributo.descri" required>
                                        <option disabled value="" selected>Escolha uma categoria</option>
                                        <option v-for="(variacao,id) in prodAtributo.atributo.variacao" :value="variacao">{{variacao}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid" v-for="(preco,idpreco) in sku.prices">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Preço - {{idpreco+1}}
                                    <button type="button" class="btn" @click="newPrice(sku.prices)">+
                                        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                                    </button>
                                    <div class="col-sm-1">
                                        <button type="button" class="btn" @click="remove(idpreco,sku.prices)">
                                            -
                                        </button>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="email">Preço:</label>
                                                <input type="number" class="form-control" id="email" v-model="preco.price" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="email">Preço promocional:</label>
                                                <input type="number" class="form-control" id="email" v-model="preco.promotionalPrice" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="email">Custo:</label>
                                                <input type="number" class="form-control" id="email" v-model="preco.cost" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="email">Marca:</label>
                                                <input type="text" class="form-control" id="email" v-model="preco.brand" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="email">Codigo de Retorno:</label>
                                                <input type="text" class="form-control" id="email" v-model="preco.returnCode" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid" v-for="(stock,idstock) in sku.stocks">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <button type="button" class="btn" @click="remove(idstock,sku.stocks)">
                                        -
                                    </button>
                                    Stock - {{idstock+1}}
                                    <button type="button" class="btn" @click="newStock(sku.stocks)">+
                                        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                    </button>
                                    
                                </div>
                                <div class="panel-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="email">Marketiplace:</label>
                                                    <input type="text" class="form-control" id="email" v-model="stock.brand" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="email">Quantidade:</label>
                                                    <input type="number" class="form-control" id="email" v-model="stock.qty" required>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="email">Codigo de Retorno:</label>
                                                    <input type="text" class="form-control" id="email" v-model="stock.returnCode" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" v-if="false">
                        Panel Footer
                    </div>
                </div>
            </div>
            <!-- Buttões -->
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-2">
                    <button type="button" class="btn btn-default" @click="novoSku()" v-show="this.Atributos.length!=0">Novo Sku</button>
                </div>
                <div class="col-sm-offset-1 col-sm-2">
                    <button type="button" class="btn btn-default" @click="novaImagem()">Nova Imagem</button>
                </div>
            </div>
            <!-- Submit -->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" :disabled="this.Atributos.length==0">Salvar Produto</button>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
export default {
  beforeMount() {
    var thes = this;
    $.ajax({
      url: "/api/categorias",
      type: "GET", // or put
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(data) {
        thes.Categorias = data;
      }
    });
  },
  mounted() {
    document.title = "Cadastro de Produto - " + document.titulo;
  },
  data() {
    return {
      Categorias: [],
      Atributos: "",
      Produto: {
        produtoAtributo: [],
        skus: [],
        imagens: []
      }
    };
  },
  methods: {
    salvarProduto() {
      var thes = this;
      $.ajax({
        url: "/api/produtos/",
        type: "POST", // or put
        data: JSON.stringify(this.Produto), // make JSON string
        dataType: "json", // type of return result
        success: function(data) {
          thes.$router.push({ name: "listaProdutos" });
        }
      });
    },
    setCategory() {
      console.log("teste");
      var i;
      console.log(this.Atributos.length);
      for (i = 0; i < this.Atributos.length; i++) {
        var object = {
          atributo: this.Atributos[i],
          descri: ""
        };
        if(!this.Atributos[i].dif){
            this.Produto.produtoAtributo.push(object);
        }
      }
    },
    novoSku() {
      var N = [];
      var i = 0;
      for (i = 0; i < this.Atributos.length; i++) {
        var object = {
          atributo: this.Atributos[i],
          descri: ""
        };
        if(this.Atributos[i].dif){
            N.push(object);
        }
      }
      this.Produto.skus.push({
        skuCode: "",
        qty: undefined,
        ean: "",
        brand: "",
        returnCode: "",
        imagem: [],
        variacoes: N,
        prices: [],
        stocks: []
      });
    },
    novaImagem() {
      this.Produto.imagens.push("");
    },
    newImagem(imagem) {
      imagem.push("");
    },
    newPrice(prices) {
      prices.push({
        price: undefined,
        promotionalPrice: undefined,
        cost: undefined,
        brand: undefined,
        returnCode: undefined
      });
    },
    newStock(stocks) {
      stocks.push({
        brand: undefined,
        qty: undefined,
        returnCode: undefined
      });
    },
    remove(id, vector) {
      vector.splice(id, 1);
    }
  }
};
</script>
<style lang="scss" scoped>
div.form-group {
  padding: 15px 15px 15px 15px;
}
</style>


