<template>
    <div>
        <h1>Cadastrar Produto</h1>
        <form class="form-horizontal" @submit.prevent="salvarProduto()">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="sku">Codigo:</label>
                        <input type="text" class="form-control" id="sku" v-model="Produto.produtcCode" disabled>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input type="text" class="form-control" id="name" v-model="Produto.name" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="status">Situação:</label>
                        <input type="text" class="form-control" id="status" v-model="Produto.status" disabled>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <textarea class="form-control" rows="3" id="descricao" v-model="Produto.description" required></textarea>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="qty">Custo:</label>
                        <input type="number" class="form-control" id="qty" v-model="Produto.cost" required>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="price">Peso:</label>
                        <input type="number" class="form-control" id="price" v-model="Produto.weight" required step="0.01">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="length">Comprimento:</label>
                        <input type="number" class="form-control" id="length" v-model="Produto.length" required step="0.01">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="height">Altura:</label>
                        <input type="number" class="form-control" id="height" v-model="Produto.height" required step="0.01">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="brand">Marca:</label>
                        <input type="text" class="form-control" id="brand" v-model="Produto.brand" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="ean">E.A.N.:</label>
                        <input type="text" class="form-control" id="ean" v-model="Produto.ean" required>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="nbm">N.B.M.:</label>
                        <input type="text" class="form-control" id="nbm" v-model="Produto.nbm">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" :disabled="this.Atributos.length==0">Salvar Produto</button>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
export default {
  beforeMount() {
    var thes = this;
    $.ajax({
      url: "/api/categorias",
      type: "GET", // or put
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(data) {
        thes.Categorias = data;
      }
    });
    document.title = "Editar Produto - " + document.titulo;
    var thes = this;
    $.ajax({
      url: "/api/produtos/" + this.$route.params.id,
      type: "GET", // or put
      data: JSON.stringify(), // make JSON string
      dataType: "json", // type of return result
      success: function(data) {
        console.log(data);
        thes.Produto = data;
      }
    });
  },
  mounted() {
    document.title = "Cadastro de Produto - " + document.titulo;
  },
  data() {
    return {
      Categorias: [],
      Atributos: "",
      Produto: {
        produtoAtributo: [],
        skus: [],
        imagens: []
      }
    };
  },
  methods: {
    salvarProduto() {
      var thes = this;
      $.ajax({
        url: "/api/produtos/" + this.$route.params.id,
        type: "PUT", // or put
        data: JSON.stringify(this.Produto), // make JSON string
        dataType: "json", // type of return result
        success: function(data) {
          thes.$router.push({ name: "listaProdutos" });
        }
      });
    },
    setCategory() {
      console.log("teste");
      var i;
      console.log(this.Atributos.length);
      for (i = 0; i < this.Atributos.length; i++) {
        var object = {
          atributo: this.Atributos[i],
          descri: ""
        };
        if (!this.Atributos[i].dif) {
          this.Produto.produtoAtributo.push(object);
        }
      }
    },
    novoSku() {
      var N = [];
      var i = 0;
      for (i = 0; i < this.Atributos.length; i++) {
        var object = {
          atributo: this.Atributos[i],
          descri: ""
        };
        if (this.Atributos[i].dif) {
          N.push(object);
        }
      }
      this.Produto.skus.push({
        skuCode: "",
        qty: undefined,
        ean: "",
        brand: "",
        returnCode: "",
        imagem: [],
        variacoes: N,
        prices: [],
        stocks: []
      });
    },
    novaImagem() {
      this.Produto.imagens.push("");
    },
    newImagem(imagem) {
      imagem.push("");
    },
    newPrice(prices) {
      prices.push({
        price: undefined,
        promotionalPrice: undefined,
        cost: undefined,
        brand: undefined,
        returnCode: undefined
      });
    },
    newStock(stocks) {
      stocks.push({
        brand: undefined,
        qty: undefined,
        returnCode: undefined
      });
    },
    remove(id, vector) {
      vector.splice(id, 1);
    }
  }
};
</script>
<style lang="scss" scoped>
div.form-group {
  padding: 15px 15px 15px 15px;
}
</style>


