<template>
    <div>
        <h1>Lista de Produtos</h1>
        <a class="btn btn-defout" href="/produtos/novo">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
        <table class="table table-striped" v-if="Produtos.length">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Codigo</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="produto in Produtos">
                    <td>{{produto[0]}}</td>
                    <td>{{produto[1]}}</td>
                    <td>{{produto[2]}}</td>
                    <td>{{produto[3]}}</td>
                    <td>
                        <router-link :to="{ name: 'visualizarProduto', params: { id: produto[0] }}" class="btn btn-defout">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </router-link>
                    </td>
                    <td>
                        <a class="btn btn-defout" @click="excluirProduto(produto[0])">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div v-else>
            <h3>Não há produtos cadastrados no sistema</h3>
        </div>
    </div>
</template>
<script>
export default {
  beforeMount() {
    this.getAllProdutos();
  },
  mounted() {
    document.title = "Lista de Produtos - " + document.titulo;
  },
  data() {
    return {
      Produtos: []
    };
  },
  methods: {
    excluirProduto(id) {
      var thes = this;
      $.ajax({
        url: "/api/produtos/" + id,
        type: "DELETE", // or put
        dataType: "json",
        success: function(data) {
          alert("Testando");
          thes.Produtos = [];
          thes.getAllProdutos();
        }
      });
    },
    getAllProdutos() {
      var thes = this;
      $.ajax({
        url: "/api/produtos/list",
        type: "GET", // or put
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data) {
          thes.Produtos = data.content;
        }
      });
    }
  }
};
</script>
