<template>
  <div>
        <h1>Cadastrar Produto</h1>
        <form class="form-horizontal">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="sku">Codigo:</label>
                        <input type="text" class="form-control" id="sku" v-model="Produto.produtcCode" disabled>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input type="text" class="form-control" id="name" v-model="Produto.name" disabled>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="status">Situação:</label>
                        <input type="text" class="form-control" id="status" v-model="Produto.status" disabled>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <textarea class="form-control" rows="3" id="descricao" v-model="Produto.description" disabled></textarea>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="qty">Custo:</label>
                        <input type="number" class="form-control" id="qty" v-model="Produto.cost" disabled>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="price">Peso:</label>
                        <input type="number" class="form-control" id="price" v-model="Produto.weight" disabled step="0.01">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="length">Comprimento:</label>
                        <input type="number" class="form-control" id="length" v-model="Produto.length" disabled step="0.01">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="height">Altura:</label>
                        <input type="number" class="form-control" id="height" v-model="Produto.height" disabled step="0.01">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="brand">Marca:</label>
                        <input type="text" class="form-control" id="brand" v-model="Produto.brand" disabled>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="ean">E.A.N.:</label>
                        <input type="text" class="form-control" id="ean" v-model="Produto.ean" disabled>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="nbm">N.B.M.:</label>
                        <input type="text" class="form-control" id="nbm" v-model="Produto.nbm" disabled>
                    </div>
                </div>
            </div>
            <!-- produtoAtributo -->
            <div class="form-group">
                <label for="nbm">Selecione a categoria:</label>
                <select class="form-control" id="sel1" v-model="Atributos" disabled>
                    <option disabled value="" selected>Escolha uma categoria</option>
                    <option v-for="(categoria,id) in Categorias" :value="categoria.atributos">{{categoria.name}}</option>
                </select>
            </div>
            <div class="row" v-for="(prodAtributo,id) in Produto.produtoAtributo">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="nbm">{{prodAtributo.atributo.name}}:</label>
                    </div>
                    <!-- <div class="col-sm-9" v-if="prodAtributo.atributo.dif">
                        <input type="text" class="form-control" id="nbm" v-model="prodAtributo.descri" disabled>
                    </div> -->
                    <div class="col-sm-9">
                        <select class="form-control" id="sel1" v-model="prodAtributo.descri" disabled>
                            <option disabled value="" selected>Escolha uma categoria</option>
                            <option v-for="(variacao,id) in prodAtributo.atributo.variacao" :value="variacao">{{variacao}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- imagens -->
            <div class="row" v-for="(img,idimg) in Produto.imagens">
                <div class="col-sm-3">
                    <label :for="'imagem'+idimg">Url - {{idimg+1}}:</label>
                </div>
                <div class="col-sm-8">
                    <input type="url" class="form-control" :id="'imagem'+idimg" v-model="Produto.imagens[idimg]" disabled>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn" @click="remove(idimg,Produto.imagens)">
                        -
                    </button>
                </div>
            </div>
            <!-- skus -->
            <div class="container-fluid">
                <div class="panel panel-default" v-for="(sku, idsku) in Produto.skus">
                    <div class="panel-heading">
                        Sku - {{idsku+1}} - 
                        <button type="button" class="btn" @click="newImagem(sku.imagem)">+
                            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn" @click="newPrice(sku.prices)">+
                            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn" @click="newStock(sku.stocks)">+
                            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                        </button>
                        <div class="col-sm-1">
                            <button type="button" class="btn" @click="remove(idsku,Produto.skus)">
                                -
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="brand">Codigo do Sku:</label>
                                    <input type="text" class="form-control" id="brand" v-model="sku.skuCode" disabled>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="nbm">Marca:</label>
                                    <input type="text" class="form-control" id="nbm" v-model="sku.brand" disabled>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="nbm">Codigo de Retorno:</label>
                                    <input type="text" class="form-control" id="nbm" v-model="sku.returnCode" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="ean">Quantidade:</label>
                                    <input type="text" class="form-control" id="ean" v-model="sku.qty" disabled>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="nbm">E.A.N.:</label>
                                    <input type="text" class="form-control" id="nbm" v-model="sku.ean" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row container-fluid" v-for="(img,idskuimg) in sku.imagem">
                            <div class="col-sm-3">
                                <label :for="'imagem'+idskuimg">Url - {{idskuimg+1}}:</label>
                            </div>
                            <div class="col-sm-8">
                                <input type="url" class="form-control" :id="'imagem'+idskuimg" v-model="sku.imagem[idskuimg]" disabled>
                            </div>
                            <div class="col-sm-1">
                                <button type="button" class="btn" @click="remove(idskuimg,sku.imagem)">
                                    -
                                </button>
                            </div>
                        </div>
                        <div class="row" v-for="(prodAtributo,id) in sku.variacoes">
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label for="nbm">{{prodAtributo.atributo.name}}:</label>
                                </div>
                                <!-- <div class="col-sm-9" v-if="prodAtributo.atributo.dif">
                                    <input type="text" class="form-control" id="nbm" v-model="prodAtributo.descri" disabled>
                                </div> -->
                                <div class="col-sm-9">
                                    <select class="form-control" id="sel1" v-model="prodAtributo.descri" disabled>
                                        <option disabled value="" selected>Escolha uma categoria</option>
                                        <option v-for="(variacao,id) in prodAtributo.atributo.variacao" :value="variacao">{{variacao}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid" v-for="(preco,idpreco) in sku.prices">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Preço - {{idpreco+1}}
                                    <button type="button" class="btn" @click="newPrice(sku.prices)">+
                                        <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                                    </button>
                                    <div class="col-sm-1">
                                        <button type="button" class="btn" @click="remove(idpreco,sku.prices)">
                                            -
                                        </button>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="email">Preço:</label>
                                                <input type="number" class="form-control" id="email" v-model="preco.price" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="email">Preço promocional:</label>
                                                <input type="number" class="form-control" id="email" v-model="preco.promotionalPrice" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="email">Custo:</label>
                                                <input type="number" class="form-control" id="email" v-model="preco.cost" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="email">Marketplace:</label>
                                                <input type="text" class="form-control" id="email" v-model="preco.brand" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="email">Codigo de Retorno:</label>
                                                <input type="text" class="form-control" id="email" v-model="preco.returnCode" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid" v-for="(stock,idstock) in sku.stocks">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <button type="button" class="btn" @click="remove(idstock,sku.stocks)">
                                        -
                                    </button>
                                    Stock - {{idstock+1}}
                                    <button type="button" class="btn" @click="newStock(sku.stocks)">+
                                        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                    </button>
                                    
                                </div>
                                <div class="panel-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="email">Marca:</label>
                                                    <input type="text" class="form-control" id="email" v-model="stock.brand" disabled>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="email">Quantidade:</label>
                                                    <input type="number" class="form-control" id="email" v-model="stock.qty" disabled>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label for="email">Codigo de Retorno:</label>
                                                    <input type="text" class="form-control" id="email" v-model="stock.returnCode" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" v-if="false">
                        Panel Footer
                    </div>
                </div>
            </div>
            <!-- Submit -->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <router-link :to="'/produtos/'+this.$route.params.id+'/editar'" class="btn btn-primary">Editar</router-link>
                </div>
            </div>
        </form>
    </div>
</template>
<script>
export default {
  beforeMount() {
    document.title = "Visualizar Produto - " + document.titulo;
    var thes = this;
    $.ajax({
      url: "/api/produtos/" + this.$route.params.id,
      type: "GET", // or put
      data: JSON.stringify(), // make JSON string
      dataType: "json", // type of return result
      success: function(data) {
        console.log(data);
        thes.Produto = data;
      }
    });
  },
  mounted() {},
  data() {
    return {
      Categorias: [],
      Atributos: "",
      Produto: {
        produtoAtributo: [],
        skus: [],
        imagens: []
      }
    };
  }
};
</script>
