<template>
  <div>
    <h1>Configuração de Dados da Empresa</h1>
    <form @submit.prevent="salvar()">
      <div class="col-sm-4 form-group">
          <label for="cnpj">CNPJ:</label>
          <input type="text" class="form-control" id="cnpj" required v-model="Empresa.cnpj">
      </div>
      <div class="col-sm-4 form-group">
          <label for="razaoSocial">Razão social:</label>
          <input type="text" class="form-control" id="razaoSocial" required v-model="Empresa.razaoSocial">
      </div>
      <div class="col-sm-4 form-group">
          <label for="fantasia">Nome fantasia:</label>
          <input type="text" class="form-control" id="fantasia" required v-model="Empresa.fantasia">
      </div>
      <div class="col-sm-6 form-group">
          <label for="inscMunicipal">Inscrição municipal:</label>
          <input type="text" class="form-control" id="inscMunicipal" required v-model="Empresa.inscMunicipal">
      </div>
      <div class="col-sm-6 form-group">
          <label for="inscEstadual">Inscrição estadual:</label>
          <input type="text" class="form-control" id="inscEstadual" required v-model="Empresa.inscEstadual">
      </div>
      <div class="col-sm-8 form-group">
          <label for="site">Site:</label>
          <input type="url" class="form-control" id="site" v-model="Empresa.site">
      </div>
      <div class="col-sm-4 form-group">
          <label for="faturamentoAnual">Faturamento anual:</label>
          <input type="text" class="form-control" id="faturamentoAnual" required v-model="Empresa.faturamentoAnual">
      </div>
      <div class="col-sm-4 form-group">
          <label for="endereco">Endereço:</label>
          <input type="text" class="form-control" id="endereco" required v-model="Empresa.endereco">
      </div>
      <div class="col-sm-4 form-group">
          <label for="numero">Numero:</label>
          <input type="text" class="form-control" id="numero" required v-model="Empresa.numero">
      </div>
      <div class="col-sm-4 form-group">
          <label for="bairro">Bairro:</label>
          <input type="text" class="form-control" id="bairro" required v-model="Empresa.bairro">
      </div>
      <div class="col-sm-4 form-group">
          <label for="cep">CEP:</label>
          <input type="text" class="form-control" id="cep" required v-model="Empresa.cep">
      </div>
      <div class="col-sm-4 form-group">
          <label for="cidade">Cidade:</label>
          <input type="text" class="form-control" id="cidade" required v-model="Empresa.cidade">
      </div>
      <div class="col-sm-4 form-group">
          <label for="estado">Estado:</label>
          <input type="text" class="form-control" id="estado" required v-model="Empresa.estado">
      </div>
      <div class="container-fluid">
        <div class="col-sm-6 form-group">
          <label for="contato">Contato do responsavel:</label>
          <input type="text" class="form-control" id="contato" required v-model="Empresa.contato">
        </div>
        <div class="col-sm-6 form-group">
            <label for="cpf">CPF do responsavel:</label>
            <input type="text" class="form-control" id="cpf" required v-model="Empresa.cpf">
        </div>
      </div>
      <div class="container-fluid">
        <div class="col-sm-4 form-group">
            <label for="email">E-Mail do responsavel:</label>
            <input type="email" class="form-control" id="email" required v-model="Empresa.email">
        </div>
        <div class="col-sm-4 form-group">
            <label for="telefoneFixo">Telefone Fixo:</label>
            <input type="text" class="form-control" id="telefoneFixo" required v-model="Empresa.telefoneFixo">
        </div>
        <div class="col-sm-4 form-group">
            <label for="celular">Celular:</label>
            <input type="text" class="form-control" id="celular" required v-model="Empresa.celular">
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Contato do responsavel pelo setor comercial:</h4>
        </div>
        <div class="panel-body">
          <div class="col-sm-4 form-group">
              <label for="comercialNome">Nome:</label>
              <input type="text" class="form-control" id="comercialNome" required v-model="Empresa.comercial.nome">
          </div>
          <div class="col-sm-4 form-group">
              <label for="comercialEmail">Email:</label>
              <input type="email" class="form-control" id="comercialEmail" required v-model="Empresa.comercial.email">
          </div>
          <div class="col-sm-4 form-group">
              <label for="comercialTelefone">Telefone:</label>
              <input type="text" class="form-control" id="comercialTelefone" required v-model="Empresa.comercial.telefone">
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Contato do responsavel pelo setor financeiro:</h4>
        </div>
        <div class="panel-body">
          <div class="col-sm-4 form-group">
              <label for="financeiroNome">Nome:</label>
              <input type="text" class="form-control" id="financeiroNome" required v-model="Empresa.financeiro.nome">
          </div>
          <div class="col-sm-4 form-group">
              <label for="financeiroEmail">Email:</label>
              <input type="email" class="form-control" id="financeiroEmail" required v-model="Empresa.financeiro.email">
          </div>
          <div class="col-sm-4 form-group">
              <label for="financeiroTelefone">Telefone:</label>
              <input type="text" class="form-control" id="financeiroTelefone" required v-model="Empresa.financeiro.telefone">
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Contato do responsavel pela area de operações:</h4>
        </div>
        <div class="panel-body">
          <div class="col-sm-4 form-group">
              <label for="operacoesNome">Nome:</label>
              <input type="text" class="form-control" id="operacoesNome" required v-model="Empresa.operacoes.nome">
          </div>
          <div class="col-sm-4 form-group">
              <label for="operacoesEmail">Email:</label>
              <input type="email" class="form-control" id="operacoesEmail" required v-model="Empresa.operacoes.email">
          </div>
          <div class="col-sm-4 form-group">
              <label for="operacoesTelefone">Telefone:</label>
              <input type="text" class="form-control" id="operacoesTelefone" required v-model="Empresa.operacoes.telefone">
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Contatos do responsavel pelo setor de tecnologia da informação(TI):</h4>
        </div>
        <div class="panel-body">
          <div class="col-sm-4 form-group">
              <label for="tiNome">Nome:</label>
              <input type="text" class="form-control" id="tiNome" required v-model="Empresa.ti.nome">
          </div>
          <div class="col-sm-4 form-group">
              <label for="tiEmail">Email:</label>
              <input type="email" class="form-control" id="tiEmail" required v-model="Empresa.ti.email">
          </div>
          <div class="col-sm-4 form-group">
              <label for="tiTelefone">Telefone:</label>
              <input type="text" class="form-control" id="tiTelefone" required v-model="Empresa.ti.telefone">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-default">Salvar dados da Empresa</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "DadosBancarios",
  beforeMount() {
    var thes = this;
    $.ajax({
      url: "/empresa",
      type: "GET", // or put
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(data) {
        thes.Empresa = data;
        
      }
    });
  },
  data() {
    return {
      Empresa: {
        comercial: {
          nome: undefined,
          email: undefined,
          telefone: undefined
        },
        financeiro: {
          nome: undefined,
          email: undefined,
          telefone: undefined
        },
        operacoes: {
          nome: undefined,
          email: undefined,
          telefone: undefined
        },
        ti: {
          nome: undefined,
          email: undefined,
          telefone: undefined
        }
      }
    };
  },
  methods: {
    salvar() {
      var thes = this;
      $.ajax({
        url: "/empresa",
        type: "POST", // or put
        data: JSON.stringify(this.Empresa), // make JSON string
        dataType: "json", // type of return result
        success: function(data) {
          thes.Empresa = data;
          for (var i = 0; i < thes.$store.state.data.Falta.length; i++) {
          if (thes.$store.state.data.Falta.indexOf("Empresa") != -1) {
            thes.$store.state.data.Falta.splice(i, 1);
          }
        }
        thes.$router.push({ name: "Home" });
        }
      });
    }
  }
};
</script>
<style>

</style>
