<template>
  <div>
    <h1>Configuração de Dados Bancarios</h1>
    <form @submit.prevent="salvar()">
      <div class="form-group">
          <label for="banco">Banco:</label>
          <input type="text" class="form-control" id="banco" required v-model="Banco.banco">
      </div>
      <div class="form-group">
          <label for="agencia">Agencia:</label>
          <input type="text" class="form-control" id="agencia" required  v-model="Banco.agencia">
      </div>
      <div class="form-group">
          <label for="conta">Numero da Conta:</label>
          <input type="text" class="form-control" id="conta" required  v-model="Banco.conta">
      </div>
      <div class="form-group">
          <label for="titular">Titular:</label>
          <input type="text" class="form-control" id="titular" required  v-model="Banco.titular">
      </div>
      <button type="submit" class="btn btn-default">Salvar</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "DadosBancarios",
  beforeMount() {
    var thes = this;
    $.ajax({
      url: "/banco",
      type: "GET", // or put
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(data) {
        thes.Banco = data;
      }
    });
  },
  data() {
    return {
      Banco: {}
    };
  },
  methods: {
    salvar() {
      var thes = this;
      $.ajax({
        url: "/banco",
        type: "POST", // or put
        data: JSON.stringify(this.Banco), // make JSON string
        dataType: "json", // type of return result
        success: function(data) {
          thes.Banco = data;
          for (var i = 0; i < thes.$store.state.data.Falta.length; i++) {
            if (thes.$store.state.data.Falta.indexOf("Bancarios") != -1) {
              thes.$store.state.data.Falta.splice(i, 1);
            }
          }
          thes.$router.push({ name: "Home" });
        }
      });
    }
  }
};
</script>
<style>

</style>
