<template>
  <div>
    <h1>Configuração de Dados do Usuário</h1>
    <form @submit.prevent="salvar()">
      <div class="form-group">
          <label for="nameUser">Nome de Usuário:</label>
          <input type="text" class="form-control" id="nameUser" v-model="cliente.name">
      </div>
      <div class="form-group">
          <label for="telefone">Telefone:</label>
          <input type="text" class="form-control" id="telefone" v-model="cliente.telefone">
      </div>
      <div class="form-group">
          <label for="email">E-Mail:</label>
          <input type="text" class="form-control" id="email" v-model="cliente.email">
      </div>
      <button type="submit" class="btn btn-default">Salvar</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "DadosDoUsuario",
  beforeMount() {
    var thes = this;
    $.ajax({
      url: "/cliente",
      type: "GET", // or put
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function(data) {
        thes.cliente = data;
      }
    });
  },
  data() {
    return {
      cliente: {}
    };
  },
  methods: {
    salvar() {
      var thes = this;
      $.ajax({
        url: "/cliente",
        type: "POST", // or put
        data: JSON.stringify(this.cliente), // make JSON string
        dataType: "json", // type of return result
        success: function(data) {
          thes.$router.push({ name: "Home" });
        }
      });
    }
  }
};
</script>
<style>

</style>
