<template>
    <div>
        <div class="container-fluid">
            <div class="form-group col-lg-5">
                <label for="codAtributo">Codigo do Atributo:</label>
                <input type="text" class="form-control" id="codAtributo" v-model="Atributo.codatributo" :required="!disable" :disabled="disable">
            </div>
            <div class="form-group col-lg-5">
                <label for="codAtributo">Nome do Atributo:</label>
                <input type="text" class="form-control" id="codAtributo" v-model="Atributo.name" :required="!disable" :disabled="disable">
            </div>
            <div class="form-group container-fluid">
                <div class="checkbox col-lg-2">
                    <label><input type="checkbox" v-model="Atributo.dif" :disabled="disable">Dif</label>
                </div>
            </div>
            <div class="container-fluid" v-if="Atributo.variacao.length">
                <h3>Variações do atributo</h3>
                <table class="table table-striped">
                    <tbody>
                        <tr v-for="(variacao,id) in Atributo.variacao" :disabled="disable">
                            <td>{{variacao}}</td>
                            <a class="btn btn-defout" @click="excluirVariacao(Atributo.variacao,id)">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group col-lg-10" v-show="!disable">
                <label for="codAtributo">Nova variação do Atributo:</label>
                <input type="text" class="form-control" id="codAtributo" v-model.trim="variacao">
                <button type="button" class="btn btn-defout" @click="adicionarVariacao(Atributo.variacao)">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Atributo
                </button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
  props: {
    Atributo: {
      type: Object
    },
    disable: {
      type: Boolean
    }
  },
  data() {
    return {
      variacao: ""
    };
  },
  mounted() {},
  methods: {
    adicionarVariacao(variacao) {
      if (this.variacao.length > 1) {
        variacao.push(this.variacao);
        this.variacao = "";
      } else {
        console.log("asdasda");
        alert("A variação não pode estar vazia.");
      }
    },
    excluirVariacao(variacao, id) {
      variacao.splice(id, 1);
    }
  }
};
</script>

