<template>
    <div class="container">
        <div class="container-fluid">
            <div class="col-sm-offset-4 col-sm-4">
                <form @submit.prevent="autenticar()">
                    <div class="form-group">
                        <label for="email">Nome de Usuário:</label>
                        <input type="text" class="form-control" id="email" v-model="autenticable.username">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Senha:</label>
                        <input type="password" class="form-control" id="pwd" v-model="autenticable.password">
                    </div>
                    <button type="submit" class="btn btn-default">Autenticar</button>
                </form>
            </div>
        </div>

    </div>
</template>

<script>
export default {
  name: "Login",
  mounted() {
    document.title = "Login de Usuário - " + document.titulo;
    var data = JSON.parse(sessionStorage.getItem("user"));
    if (data != null) {
      this.$router.push({ name: "Home" });
    }
  },
  data() {
    return {
      autenticable: { username: undefined, password: undefined }
    };
  },
  methods: {
    autenticar() {
      var thes = this;
      $.ajax({
        url: "/authenticate",
        type: "POST", // or put
        data: JSON.stringify(this.autenticable), // make JSON string
        dataType: "json", // type of return result
        success: function(data) {
          sessionStorage.setItem("user", JSON.stringify(data));
          sessionStorage.setItem("token", data.token);
          thes.$store.commit("SET_DATA", data);
          var i;
          if (data.Falta != undefined) {
            for (i = 0; i < data.Falta.length; i++) {
              alert(data.Falta[i]);
            }
          }
          thes.redirect();
        }
      });
    },
    redirect() {
      var redirect = this.$route.params.redirect;
      if (redirect == undefined) {
        this.$router.push({ name: "Home" });
      } else {
        this.$router.push({ name: redirect });
      }
    }
  }
};
</script>

<style lang="sass" scoped>

</style>

