<template>
  <div>
    <h1>Cadastro de Usuário</h1>
    <div class="container-fluid">
      <div class="">
          <form @submit.prevent="register()">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3>Dados de Acesso</h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label for="username">Nome de Usuário:</label>
                  <input type="text" class="form-control" id="username" v-model="Usuario.username" autocomplete="new-password" required minlength="6" maxlength="40">
                </div>
                <div class="form-group">
                  <label for="senha">Senha:</label>
                  <input type="password" class="form-control" id="senha" v-model="Usuario.password" autocomplete="new-password" required minlength="6" maxlength="40">
                </div>
                <div class="form-group">
                  <label for="senhaC">Confirmação da Senha:</label>
                  <input type="password" class="form-control" id="senhaC" v-model="confirmacaoSenha" autocomplete="new-password" required minlength="6" maxlength="40">
                </div>
              </div>
              <!-- <div class="panel-footer">Panel Footer</div> -->
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3>Dados do Usuário</h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label for="name">Nome:</label>
                  <input type="text" class="form-control" id="name" v-model="Usuario.name" autocomplete="off" required>
                </div>
                <div class="form-group">
                  <label for="cpf">CPF:</label>
                  <input type="text" class="form-control" id="cpf" v-model="Usuario.cpf" autocomplete="off" required>
                </div>
                <div class="form-group">
                  <label for="telefone">Telefone:</label>
                  <input type="text" class="form-control" id="telefone" v-model="Usuario.telefone" autocomplete="off" required>
                </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="text" class="form-control" id="email" v-model="Usuario.email" autocomplete="off" required>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-default">Cadastrar</button>
          </form>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  mounted() {
    var password = document.getElementById("senha"),
      confirm_password = document.getElementById("senhaC");
    var thes = this;
    function validatePassword() {
      if (thes.Usuario.password != thes.confirmacaoSenha) {
        confirm_password.setCustomValidity("Senhas não podem ser diferentes");
      } else {
        confirm_password.setCustomValidity("");
      }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
  },
  data() {
    return {
      confirmacaoSenha: undefined,
      Usuario: {}
    };
  },
  methods: {
    register() {
      var thes = this;
      $.ajax({
        url: "/register",
        type: "POST", // or put
        data: JSON.stringify(this.Usuario), // make JSON string
        dataType: "json",
        success: function(data) {
          alert("Cadastro de usuario realizado com sucesso");
          // thes.$router.push({ name: "listaCategorias" });
        }
      });
    },
    removeAtributo(array, index) {
      // array.splice(index, 1);
    },
    newBanco(array) {
      // array.push({
      //   banco: undefined,
      //   conta: undefined,
      //   agencia: undefined,
      //   titular: undefined
      // });
    }
  }
};
</script>

