<template>
  <div id="container">
    <navbar></navbar>
    <nav-bar-lateral v-if="$store.state.data!=undefined"></nav-bar-lateral>
    <div class="col-sm-9">
      <div class="container-fluid">
        <router-view/>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "./ElementosDaPagina/Navbar";
import NavBarLateral from "./ElementosDaPagina/NavBarLateral";
export default {
  components: { Navbar, NavBarLateral },
  name: "app",
  mounted() { },
  data() {
    return {
      token: undefined
    };
  },
  methods: {}
};
</script>
<style lang="scss">
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
// $bootstrap-sass-asset-helper: true;
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@media (min-width: 768px) {
  .material-icons.md-8 {
    font-size: 8px;
  }
  .material-icons.md-14 {
    font-size: 12px;
  }
  .material-icons.md-18 {
    font-size: 18px;
  }
  .material-icons.md-24 {
    font-size: 24px;
  }
  .material-icons.md-36 {
    font-size: 36px;
  }
  .material-icons.md-48 {
    font-size: 48px;
  }

  /* Rules for using icons as black on a light background. */
  .material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
  }
  .material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
  }

  /* Rules for using icons as white on a dark background. */
  .material-icons.md-light {
    color: rgba(255, 255, 255, 1);
  }
  .material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  //   .navbar-inverse {
  //     background-color: #0000CD;
  //     border-color: #090909;
  //   }
}
</style>
