<template>
    <div class="container-fluid">
        <h1>Categorização</h1>
        <form @submit.prevent="cadastrarCategorias()">
            <div class="form-group">
                <label for="codAtributo">Codigo da Categoria:</label>
                <input type="text" class="form-control" id="codAtributo" v-model="Categoria.codecategory" required>
            </div>
            <div class="form-group">
                <label for="name">Nome da Categoria:</label>
                <input type="text" class="form-control" id="name" v-model="Categoria.name" required>
            </div>

            <div v-if="Categoria.atributos.length>0">
                <div class="panel panel-default" v-for="(atributo,id) in Categoria.atributos">
                    <div class="panel-heading">
                        Atributo {{id+1}} -
                        <button type="button" class="btn btn-defout" @click="removeAtributo(Categoria.atributos,id)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="panel-body">
                        <atributo :Atributo.sync="atributo" :disable="false"></atributo>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-defout" @click="adicionarAtributo(Categoria.atributos)">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Atributo
            </button>
            <button type="submit" class="btn btn-default">Cadastrar</button>
        </form>
    </div>
</template>
<script>
import Atributo from "./Atributo/Atributo";
export default {
  components: { Atributo },
  data() {
    return {
      Categoria: {
        atributos: []
      },
      variacao: undefined
    };
  },
  methods: {
    cadastrarCategorias() {
      var thes = this;
      $.ajax({
        url: "/api/categorias",
        type: "POST", // or put
        data: JSON.stringify(this.Categoria), // make JSON string
        dataType: "json", // type of return result
        success: function(data) {
          thes.$router.push({ name: "listaCategorias" });
        }
      });
    },
    adicionarAtributo(atributos) {
      atributos.push({
        codatributo: undefined,
        name: undefined,
        variacao: []
      });
    },
    removeAtributo(atributos, id) {
      atributos.splice(id, 1);
    }
  }
};
</script>
<style lang="scss">

</style>


