<template>
    <div class="container-fluid">
        <h1>Cadastro de Categoria</h1>
        <form @submit.prevent="cadastrarCategorias()">
            <div class="form-group">
                <label for="codAtributo">Codigo da Categoria:</label>
                <input type="text" class="form-control" id="codAtributo" v-model="Categoria.codecategory" required>
            </div>
            <div class="form-group">
                <label for="name">Nome da Categoria:</label>
                <input type="text" class="form-control" id="name" v-model="Categoria.name" required>
            </div>
            <button type="submit" class="btn btn-default">Salvar</button>
        </form>
    </div>
</template>
<script>
import Atributo from "./Atributo/Atributo";
export default {
  components: { Atributo },
  beforeMount() {
    var thes = this;
    $.ajax({
      url: "/api/categorias/" + this.$route.params.id,
      type: "GET", // or put
      data: JSON.stringify(), // make JSON string
      dataType: "json", // type of return result
      success: function(data) {
        thes.Categoria = data;
      }
    });
  },
  data() {
    return {
      Categoria: {
        atributos: []
      }
    };
  },
  methods: {
    cadastrarCategorias() {
      var thes = this;
      $.ajax({
        url: "/api/categorias/" + this.$route.params.id,
        type: "PUT", // or put
        data: JSON.stringify(this.Categoria), // make JSON string
        dataType: "json", // type of return result
        success: function(data) {
          thes.$router.push({ name: "listaCategorias" });
        }
      });
    },
    adicionarAtributo(atributos) {
      atributos.push({
        codatributo: undefined,
        name: undefined,
        variacao: undefined
      });
    },
    removeAtributo(atributos, id) {
      atributos.splice(id, 1);
    },
    adicionarVariacao(variacao) {
      variacao.push(this.variacao);
      this.variacao = "";
    },
    excluirVariacao(variacao, id) {
      variacao.splice(id, 1);
    }
  }
};
</script>
<style lang="scss">

</style>


