<template>
    <div class="container-fluid">
        <h1>Listagem de Categorias</h1>
        <router-link class="btn btn-defout" :to="{ name: 'novoCategorias'}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </router-link>
        <table class="table table-striped" v-if="Categorias.length">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nome</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="categoria in Categorias">
                    <td>{{categoria.codecategory}}</td>
                    <td>{{categoria.name}}</td>
                      <router-link :to="{ name: 'visualizarCategorias', params: { id: categoria.codecategory }}" class="btn btn-defout">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                      </router-link>
                    </td>
                    <td>
                        <a class="btn btn-defout" @click="excluirCategoria(categoria.codecategory)">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
export default {
  beforeMount() {
    this.getAllCategorias();
  },
  mounted() {
    document.title = "Lista de Categorias - " + document.titulo;
  },
  data() {
    return {
      Categorias: []
    };
  },
  methods: {
    excluirCategoria(id) {
      var thes = this;
      $.ajax({
        url: "/api/categorias/" + id,
        type: "DELETE", // or put
        dataType: "json",
        success: function(data) {
          thes.getAllCategorias();
        }
      });
    },
    getAllCategorias() {
      var thes = this;
      $.ajax({
        url: "/api/categorias/list",
        type: "GET", // or put
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data) {
          thes.Categorias = data.content;
        }
      });
    }
  }
};
</script>
<style lang="scss">

</style>


