<template>
    <div class="container-fluid">
        <h1>Cadastro de Categoria</h1>
        <form @submit.prevent="cadastrarCategorias()">
            <div class="form-group">
                <label for="codAtributo">Codigo da Categoria:</label>
                <input type="text" class="form-control" id="codAtributo" v-model="Categoria.codecategory" disabled>
            </div>
            <div class="form-group">
                <label for="name">Nome da Categoria:</label>
                <input type="text" class="form-control" id="name" v-model="Categoria.name" disabled>
            </div>
            <div v-if="Categoria.atributos.length>0">
                <div class="panel panel-default" v-for="(atributo,id) in Categoria.atributos">
                    <div class="panel-heading">
                        Atributo {{id+1}} -
                        <button type="button" class="btn btn-defout" @click="removeAtributo(Categoria.atributos,id)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="panel-body">
                        <atributo :Atributo.sync="atributo" :disable="true"></atributo>
                    </div>
                </div>
            </div>
            <router-link :to="'/categorias/'+this.$route.params.id+'/editar'" class="btn btn-primary">Editar</router-link>
        </form>
    </div>
</template>
<script>
import Atributo from "./Atributo/Atributo";
export default {
  components: { Atributo },
  mounted() {
    var thes = this;
    $.ajax({
      url: "/api/categorias/" + this.$route.params.id,
      type: "GET", // or put
      data: JSON.stringify(), // make JSON string
      dataType: "json", // type of return result
      success: function(data) {
        thes.Categoria = data;
      }
    });
  },
  data() {
    return {
      Categoria: {
        atributos: []
      }
    };
  }
};
</script>
<style lang="scss">

</style>


