<template>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <router-link class="navbar-brand" :to="{ name: 'Home'}">LaraFront</router-link>
            </div>
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li v-if="isADM()">
                    <router-link :to="{ name: 'register'}">
                        <span class="glyphicon glyphicon-user"></span>Cadastrar
                    </router-link>
                </li>
                <li v-if="$store.state.data == undefined">
                    <router-link :to="{ name: 'login'}">
                        <span class="glyphicon glyphicon-log-in"></span> Autenticar
                    </router-link>
                </li>
                <li class="dropdown" v-if="$store.state.data != undefined && !isADM()">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-wrench"></span>
                    </a>
                    <ul class="dropdown-menu">
                    <li>
                        <router-link :to="{ name: 'configUser'}">
                            Dados de Usuário
                        </router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'configEmpresa'}">
                            Dados da Empresa
                        </router-link>
                    </li>
                    <li>
                        <router-link :to="{ name: 'configBanco'}">
                            Dados Bancarios
                        </router-link>
                    </li>
                    </ul>
                </li>
                <li v-if="!($store.state.data == undefined)">
                    <a href="/login" @click.prevent="sair()">
                        <span class="glyphicon glyphicon-log-in"></span> Sair</a>
                </li>
            </ul>
        </div>
    </nav>
</template>
<script>
export default {
  name: "Navbar",
  mounted() {
    console.log(this);
  },
  methods: {
    sair() {
      sessionStorage.clear();
      this.$store.commit("INIT");
      this.$router.push({ name: "login" });
    },
    isADM() {
      if (this.$store.state.data == undefined) {
        return false;
      } else if (this.$store.state.data.user.roles.indexOf("ADM") != -1) {
        return true;
      } else {
        return false;
      }
    }
  }
};
</script>
