<template>
  <div>
    <h1>Listagem de pedidos</h1>
    <button type="button" class="btn btn-default" @click="novo()" v-if="false">
      <i class="material-icons md-14">create</i>
    </button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Estado</th>
          <th>Cidade</th>
          <th>Endereço</th>
          <th>Numero</th>
          <th>Data Estimada de Entrega</th>
          <th>Valor total do pedido</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(pedido,index) in Pedidos">
          <td>{{pedido.billing_address.country}}</td>
          <td>{{pedido.billing_address.city}}</td>
          <td>{{pedido.billing_address.street}}</td>
          <td>{{pedido.billing_address.number}}</td>
          <td>{{pedido.estimated_delivery}}</td>
          <td>{{pedido.total_ordered}}</td>
          <th>
            <button type="button" class="btn btn-default" @click="visualizar(index)">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </th>
          <th>
            <button type="button" class="btn btn-default" @click="excluir(index)" v-if="false">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import { novo } from "./pedidos";
export default {
  mounted() {
    var thes = this;
    $.ajax({
      url: "/api/pedidos",
      type: "GET", // or put
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function (data) {
        console.log(data);
        thes.Pedidos = data.content;
      }
    });
  },
  data() {
    return {
      Pedidos: []
    };
  },
  methods: {
    novo() {
      this.Pedidos.push(novo);
    },
    visualizar() {
      alert("Visualizar");
    },
    excluir(id) {
      this.Pedidos.splice(id, 1);
    }
  }
};
</script>
<style lang="scss" scoped>

</style>
