<template>
  <div>
    <h1>Home Page</h1>
    <div class="alert alert-warning" v-for="(erro,id) in $store.state.data.Falta">
      <strong>Cuidado!</strong> {{erro}} 
      <router-link :to="{ name: 'configBanco'}" class="btn btn-default" v-if="erro.indexOf('Bancarios')!=-1">
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
      </router-link>
      <router-link :to="{ name: 'configEmpresa'}" class="btn btn-default" v-if="erro.indexOf('Empresa')!=-1">
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home-Page",
  mounted() {
    document.title = document.titulo;
  },
  data() {
    return {
      banco: {}
    };
  },
  methods: {
    cadastrarBanco() {
      var thes = this;
      $.ajax({
        url: "/banco",
        type: "POST", // or put
        data: JSON.stringify(this.banco), // make JSON string
        dataType: "json", // type of return result
        success: function(data) {
          thes.$router.push({ name: "listaCategorias" });
        }
      });
    },
    cadastrarEmpresa() {
      var thes = this;
      $.ajax({
        url: "/empresa",
        type: "POST", // or put
        data: JSON.stringify(this.Categoria), // make JSON string
        dataType: "json", // type of return result
        success: function(data) {
          thes.$router.push({ name: "listaCategorias" });
        }
      });
    }
  }
};
</script>

<style>

</style>
